@font-face {
  font-family: 'iconfont';  /* project id 1500994 */
  src: url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.eot');
  src: url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.woff') format('woff'),
  url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1500994_3cr03ofh2om.svg#iconfont') format('svg');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-jiage:before {
    content: "\e652";
  }
  
  .icon-shijian:before {
    content: "\e6af";
  }
  
  .icon-pingfen:before {
    content: "\e640";
  }
  
  .icon-julilujing:before {
    content: "\e60b";
  }
  
  .icon-xiaoliangyuce:before {
    content: "\e631";
  }
  
  .icon-paixu:before {
    content: "\e636";
  }
  
  .icon-jiantou_shang:before {
    content: "\e662";
  }
  
  .icon-jiantou_xia:before {
    content: "\e663";
  }
  .icon-qicheqianlian-1-copy:before {
    content: "\e64f";
  }