@font-face {
  font-family: 'iconfont';  /* project id 1430182 */
  src: url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.eot');
  src: url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.woff') format('woff'),
  url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1430182_u4nezxe3ild.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou3:before {
  content: "\e605";
}

.icon-jiantou:before {
  content: "\e64a";
}

.icon-sousuo:before {
  content: "\e61a";
}

.icon-self:before {
  content: "\e600";
}
.icon-icon-order:before {
  content: "\e601";
}

.icon-elema1:before {
  content: "\e602";
}

.icon-star_full:before {
  content: "\e603";
}
